---
layout: page
---

{% include lang.html %}

{% assign category_posts = site.posts | where_exp: "p", "p.categories contains page.category" %}

<div id="page-category">
  <span class="lead text-muted">{{ category_posts | size }}개 브리핑</span>

  <ul class="content ps-0 mt-3">
    {% for post in category_posts %}
      <li class="d-flex justify-content-between px-md-3">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span class="dash flex-grow-1"></span>
        {% include datetime.html date=post.date class='text-muted small text-nowrap' lang=lang %}
      </li>
    {% endfor %}
  </ul>
</div>
